

.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}


/* NG-REPEAT STUFF */
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}


/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
    -webkit-animation:0.3s my_animation;
    -moz-animation:0.3s my_animation;
    -o-animation:0.3s my_animation;
    animation:0.3s my_animation;
}

.repeated-item.ng-enter {
    -webkit-animation:0.3s my_animation2;
    -moz-animation:0.3s my_animation2;
    -o-animation:0.3s my_animation2;
    animation:0.3s my_animation2;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}


/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-moz-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}



.view-animate.ng-enter {
    -webkit-transition:all cubic-bezier(.17,.67,.83,.67) 0.8s;
    transition:all cubic-bezier(.17,.67,.83,.67) 0.8s;

    display:block;
    width:100%;


    position:relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
}

.view-animate.ng-enter {
    left:60%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}


/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
