.container {
    padding: 0;

}
.body {
  font-family: 'Roboto';
}
.page1{
    width: 100%;
    height: 100%;
}

.about-title{
    text-align: center;
}

.about-page {
    padding-top: 100px;
}

.about-description{
    text-align: center;
}

.carousel.slide{
    position: relative;
}


.login-form {
	position:absolute;
  top:50%;
  font-family: 'Roboto';
}
.form-style {
  background-color: #efeeee;
  border-radius: 0;
  height: 45px;
}

::-webkit-input-placeholder {
  color: #6a798f !important ;
}
.has-error .form-control {
  border: 1px solid #DF6659;
  box-shadow: none;
  background-color: #efeeee;
}
.has-error .form-control:focus{
  border-color: #DF6659;
  box-shadow: none;
}
.alert-danger{
  border-radius: 0;
  padding: 12px 15px;
  background-color: #DF6659 !important;
  color: #EFEEEE;
  text-shadow: none;
  box-shadow: none;
  border: none !important;
  background-image: none;
}
.alert.alert-info{
    margin-bottom: 0;
}

.alert.alert-success{
    margin-bottom: 0;
}

.error{
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: lighter;
  background: #c60f13;
  color: #fff;
}

.btn.btn-primary.pull-right{
    margin-top: -10px;
}

.btn[disabled] {
  background-color: #323C50;
  border-radius: 0;
  color: #EFEEEE;
  border: none;
  opacity: 1;
  padding: 7px 14px;
}
.btn.btn-primary{
    margin-top: -35px;
}
@media (min-width: 768px) {
  .col-sm-offset-7 {
    margin-left: 54%;
  }
}
@media (min-width: 768px) {
  .form-group.col-sm-offset-1 {
    margin-left: 4%;
  }
}
.already-registered{
    color: #EFEEEE;
    font-weight: lighter;
    font-size: 0.75em;
}

.click-here-to-signup{
    color: #EFEEEE;
    font-weight: bold;
    margin-top: -20px;
}

.remember-me{
    font-weight: bolder;
    /*font-size: 1.25em;*/
    color: #EFEEEE;
}


/* Animations go below here */

.animation {
    -webkit-transition: 1s;
}
.animation.ng-enter {
    opacity: 0;
}
.animation.ng-leave {
    opacity: 1;
}
.animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.thumbnail {
  display: block;
  border: 1px solid #ddd;  
  border-radius: 0;
}

.thumbnail a>img {
  margin-left: auto;
  margin-right: auto;
  height: 365px;
  max-width: 100%;
  display: block;
}

.thumbnail .truncated-description {
  height: 60px;
  margin-bottom: 50px;
}

.thumbnail .movie-title {
  height: 40px;
}