<div id="page-content-wrapper">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-lg-8 ">
				<h1>Admin panel</h1>
				<a href="#" ng-click="sidebar.toggled = !sidebar.toggled" class="glyphicon glyphicon-align-justify btn-menu toggle" id="menu-toggle">
                <i class="fa fa-bars"></i>
	            </a>
				<hr>
			</div>
		</div>
		<div class="row">

			<div class="col-lg-8">
				<p>{{user.email}}</p>
				<p>Please choose a photo to upload: </p>
				<form  method="post" enctype="multipart/form-data" >
					<input ng-model="file" type="file" name="todo" class="form-group" accept="image/*">
					<button type="submit" class="btn btn-primary" class="form-group" ng-click="upload()">New</button>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>