<head>
    <link href="/css/selectedMovie.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<div id="page-content-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="#" ng-click="sidebar.toggled = !sidebar.toggled" class="glyphicon glyphicon-align-justify btn-menu toggle" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
                <h2>Hello, {{user.name}}</h2>

                <p>This is your dashboard, the main hub for the website. From here you can start by browsing through a list of popular movies selected for you or you can use
                the search box provided on the right side of the screen to find a movie you are looking for.</p>
            </div>
            <div class="col-lg-12" >
                <input class="pull-right" type="text" ng-model="search.text" placeholder="Search for a movie"/>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="movie in filteredMovies"  class="repeated-item container-fluid">
    <div ng-if="movieIndex(movie) % 4 == 0" class="row">
        <div ng-repeat="n in [$index, $index+1, $index+2, $index + 3]">
            <section >
                <div class="col-md-3" ng-show="filteredMovies[n].name">
                    <div class="thumbnail widget-thumbnail">
                        <a ng-href="#" ng-click="goToMovieDetails(filteredMovies[n])"
                           title="{{filteredMovies[n].title	}}">
                            <img src="{{filteredMovies[n].image}}" width="235" height="348"
                                 alt="{{filteredMovies[n].name}}"/>
                        </a>

                        <div class="caption">
                            <a href="#" ng-click="goToMovieDetails(filteredMovies[n])"
                               title="{{filteredMovies[n].name}}">
                                <h4 class="movie-title" ng-bind="filteredMovies[n].name"></h4>
                            </a>

                            <p  class="truncated-description"
                                ng-if="filteredMovies[n].description"
                                ng-bind="truncateName(filteredMovies[n].description)"></p>
                        </div>
                        <a href="#" title="{{filteredMovies[n].name}}" ng-click="open(filteredMovies[n])"
                           class="btn btn-primary watch">Watch</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Menu Toggle Script -->
<!--<script>-->
    <!--$("#menu-toggle").click(function (e) {-->
        <!--e.preventDefault();-->
        <!--$("#wrapper").toggleClass("toggled");-->
    <!--});-->
<!--</script>-->
